<div class="con-tainer-identities">
        <div class="row">
          <div class="small-12 small-centered colmuns">
            <div class="contact-container">

              <div class="container-left-identities">
                <ul class="list">
                  <li class="contact-left ">
                  
                    <%= link_to 'Sign up with google +', "/auth/google_oauth2", :class => 'button [tiny small large] goog'%>
                  </li>
                  <li class="contact-left ">
                    <%= link_to 'Sign up with twitter', "/auth/twitter", :class => 'button [tiny small large] twit'%>
                  </li>
                  <li class="contact-left ">
                    <%= link_to 'Sign up with facebook', "/auth/facebook", :class => 'button [tiny small large] faceb'%>
                    <div ></div>
                  </li>
                </ul>
              </div>

              <div class="container-right-identities">
                <ul class="list">
                  
                  <div class="large-10 medium-centered columns ">
                      <div class="site forms">
                        
                        <%= form_tag "/auth/identity/regist" do %>
                          
                          <% if @identity && @identity.errors.any? %>
                            <div class="error_messages">
                              <h2>Form is invalid</h2>
                              <ul>
                                <% for message in @identity.errors.full_messages %>
                                  <li><%= message %></li>
                                <% end %>
                              </ul>
                            </div>
                          <% end %>
                          <div class="site-forms">
                            
                            <div class="field">
                              <%= label_tag :name %><br>
                              <%= text_field_tag :name, @identity.try(:name), :placeholder => "Name" %>
                            </div>

                            <div class="field">
                              <%= label_tag :email %><br>
                              <%= text_field_tag :email, @identity.try(:email), :placeholder => "Email" %>
                            </div>

                            <div class="field">
                              <%= label_tag :password %><br>
                              <%= password_field_tag :password, :placeholder => "Password" %>
                            </div>
                            <div class="field">
                              <%= label_tag :password_confirmation %><br/>
                              <%= password_field_tag :password_confirmation, :placeholder => "Confirm password" %>
                            </div>
                            <div class="actions save-me">
                              <%= submit_tag "Register", :class => 'button [tiny small large] save-button' %>
                            </div>
                          </div>
                        <% end %>
                      </div>
                    </div>
                    <!-- end of form -->
                  </div>
                </ul>
              </div>
              <!-- end of left container -->

            </div>
          </div>
        </div>
      </div>
