<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>FollowMap</title>
    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Arimo|Ubuntu|Shadows+Into+Light' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '//maps.googleapis.com/maps/api/js?key=#{Figaro.env.google_map_api}' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
      <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src ="connect.facebook.net/en_US/all.js#xfbml=1&appId=#{Figaro.env.facebook_key}";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, ‘script’, ‘facebook-jssdk’));
  </script>

<div class="fixed">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><%= link_to 'Map me', root_url, :id => 'app-logo' %></h1>
      </li>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
  </nav>
</div>
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>

    <%= yield %>
    <div class="learn-more">
  

  <footer class="row ">
    <div class="large-12 columns footer-container">

      <div clas="row ">
        <div class="large-5 columns about-container">
          <h5>About</h5>
          <p>Who are we</p>
          <p>What is Map me</p>
          <p>Jobs</p>
          <p>Press</p>
        </div>
        <div class="large-5 columns">
          <h5>Help</h5>
          <p>FAQ</p>
          <p>Terms of service</p>
          <p>Privacy policy</p>
          <p>Trust and saftey</p>
        </div>
      </div>

      <hr>
      <div class="row ">
        <div class="large-6 columns social-container">
          <p class="">© Map me</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right social-container">
            <li><a href="#"><i class="fa fa-twitter social-icons" style=" color: silver"></i></a></li>
            <li><a href="#"><i class="fa fa-tumblr social-icons" style=" color: silver"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook social-icons" style=" color: silver"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus social-icons" style=" color: silver"></i></a></li>
          </ul>
        </div>
      </div>
    </div> 
  </footer>
</div> 


  <script src="http://platform.twitter.com/anywhere.js?id=#{Figaro.env.consumer_key}&v=1" type="text/javascript"></script>
 
    <%= javascript_include_tag "application" %>
  </body>
</html>
